* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 80rem;
    margin: auto;
    padding: 0 1rem;
}

.header {
    background-color: #002147;
    color: #ffffff;
    
    font-size: 1.25rem;

    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
}

.header .container > i {
    color: #fdc800;
    position: relative;
}

.header .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header .container a:not(.header__apply-button) {
    text-decoration: none;
    color: #ffffff;
    margin-left: 0.5rem;
}

.header .container a:hover {
    color: #fdc800;
}

.header .container i:not(.header .container i:first-child) {
    margin-left: 5rem;
}

.header__apply-button {
    text-decoration: none;
    text-align: center;
    color: #002147;

    font-size: 1.5rem;
    font-weight: bold;

    background-color: #fdc800;
    background-size: cover;

    height: 3rem;
    width: 10rem;

    padding-top: 0.25rem;

    margin-left: 30rem;
}

.header__apply-button:hover {
    background-color: #ffffff;
    color: #fdc800;
}

.navbar {
    height: 15rem;
}

.navbar .container i {
    position: absolute;
    top: 5rem;

    color: #fdc800;
    
    width: 3rem;
    height: 3rem;

    border-radius: 50%;

    background: #002147;
    background-size: cover;

    padding-top: 0.95rem;
    padding-left: 1rem;
}

.navbar .container a {
    position: absolute;
    top: 4.4rem;
    left: 25rem;
    
    text-decoration: none;
    color: #002147;
    font-weight: bold;
    font-size: 3rem;
}

.navbar .container ul {
    list-style-type: none;

    position: absolute;
    top: 10rem;
}

.navbar .container nav a {
    position: relative;
    top: 10rem;
    left: 0rem;

    font-size: 1.5rem;
    font-weight: normal;

    padding-right: 2rem;
}

.navbar .container nav a:hover {
    color: #fdc800;
}

.carousel {
    background-image: url(../img/2.jpg);
    height: 50rem;
}